{% extends "admin/change_form.html" %}
{% block submit_buttons_bottom %}

    <div class="submit-row clearfix">      
    
      <button type="submit" class="btn btn-high btn-info" name="_save">Guardar</button>
      <button type="submit" name="_continue" class=" btn btn-high">Guardar y continuar editando</button>
      
      <button type="submit" name="_addanother" class="btn">Guardar y añadir otro</button>

      <a href="delete/" class="text-error deletelink">Eliminar</a>
    </div>
{% endblock %}